FRONTEND_URL=http://localhost:3000

# LLM Configuration
OPENAI_MODEL=gpt-4o
OPENAI_API_KEY="your-openai-api-key"

# File Storage (optional, defaults to ./tmp)
DOWNLOAD_DIR=decks

# from FE
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=supabase-secret-keys
SUPABASE_BUCKET=saturn